{% load static %}

<footer id="footer" class="footer position-relative light-background">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-left">
                <p>© 2025 <strong class="px-1 sitename">Nasrat Nasrati</strong> | All Rights Reserved | <i class="bi bi-geo-alt-fill"></i> Kabul, Afghanistan</p>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <div class="social-links">
                    <a href="https://www.linkedin.com" target="_blank" class="bi bi-linkedin"></a>
                    <a href="https://github.com" target="_blank" class="bi bi-github"></a>
                    <a href="https://www.twitter.com" target="_blank" class="bi bi-twitter"></a>
                </div>
                <p>Designed & Developed by <strong>Nasrat Nasrati</strong></p>
            </div>
        </div>
    </div>
</footer>
