{% load static %}

<header id="header" class="header dark-background d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="profile-img">
      <img src="{% static 'img/nasrati.jpeg' %}" alt="" class="img-fluid rounded-circle">
    </div>

    <a href="index.html" class="logo d-flex align-items-center justify-content-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="{% static 'assets/img/logo.png' %}" alt=""> -->
      <h1 class="sitename">Nasrat Nasrati</h1>
    </a>

    <div class="social-links text-center">
      <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
      <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
      <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
    </div>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="{% url 'home' %}" class="active"><i class="bi bi-house navicon"></i> Home</a></li>
        <li><a href="{% url 'about' %}"><i class="bi bi-person navicon"></i> About</a></li>
        <li><a href="{% url 'resume' %}"><i class="bi bi-file-earmark-text navicon"></i> Resume</a></li>
        <li><a href="{% url 'portfolio' %}"><i class="bi bi-images navicon"></i> Portfolio</a></li>
        <li><a href="{% url 'projects' %}"><i class="bi bi-briefcase navicon"></i> Projects</a></li>
        <li><a href="{% url 'services' %}"><i class="bi bi-hdd-stack navicon"></i> Services</a></li>
        <li><a href="{% url 'contact' %}"><i class="bi bi-envelope navicon"></i> Contact</a></li>
        <li><a href="{% url 'weblog' %}"><i class="bi bi-file-earmark-text navicon"></i> Weblog</a></li>
        <li><a href="{% url 'achievement' %}"><i class="bi bi-trophy navicon"></i> Achievement</a></li>
        <li><a href="{% url 'skills' %}"><i class="bi bi-bar-chart navicon"></i> Skills</a></li>
        <li><a href="{% url 'stats' %}"><i class="bi bi-graph-up navicon"></i> Stats</a></li>
      </ul>
    </nav>
    
</header>
